body {
    font-family: 'Montserrat', sans-serif;
}

#wrapper {
    width: 65%;
    max-width: 1000px;
    min-width: 430px;
    margin-inline: auto;
}

h1,
h3 {
    font-weight: 900;
}

table {
    width: 100%;
    background-color: #f0fff8;
    border-collapse: collapse;
}

td {
    border: 1px solid #80ced6;
    padding: 10px;

}

p,
ul {
    border: 1px solid #80ced6;
    background-color: #f0fff8;
    padding: 30px;
    border-radius: 10px;
}

ul {
    list-style-type: square;
}